---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="text-center py-20">
    <h1 class="text-4xl font-bold text-neon">Hey, I'm Yash</h1>
    <p class="mt-4 text-lg text-gray-300">
      Geek by day, Gamer by night. Always leveling up in life.
    </p>
  </section>
</BaseLayout>

