---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="text-center py-20">
    <h1 class="text-4xl font-bold text-neon">Hey, I'm Yash Kant</h1>
    <p class="mt-4 text-lg text-gray-300">
      Cyber Security Engineer • Breaking & Securing Things
    </p>
  </section>
</BaseLayout>

